:root {
  --text-color: #fff;
  --bg-color: #3e1e35;
  --primary: #ee53d2;
  --secondary: #6ce93f;
  --accent: #ba0bf4;
  --skeleton: palevioletred;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
}
main {
  margin: 20px;
}
.screen {
  border: 2px solid var(--primary);
  height: 360px; /* 360, 480 */
  width: 480px;
  background-color: var(--bg-color);
}
.screen-container {
  position: relative;
  width: 480px;
  height: 360px;
}
.screen-container .screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.projects {
  display: grid;
  grid-auto-columns: 150px;
  grid-auto-rows: 150px;
  place-content: center;
  grid-template-areas:
    "slot-1 slot-2 slot-3"
    "slot-4 slot-5 slot-6";
  background-image: url("https://i.pinimg.com/736x/86/d2/32/86d2320dc91cfdf91a55a17f55c94a92.jpg");
}
.slot {
  border: 1px solid black;
  border-radius: 10px;
  margin: 1em;
  text-align: center;
  align-content: center;
  transition: transform 0.5s;
  box-shadow: 5px 2.5px 2.5px rgba(192, 192, 192, 0.5);
}
.techstack {
  height: 60px;
  background-color: gray;
  opacity: 0.5;
  display: grid;
  grid-template-areas: "html5 css js py bench";
  place-items: center;
}
.fa-html5,
.fa-css,
.fa-js,
.fa-python,
.fa-chair {
  font-size: 2rem;
  color: white;
  transition: transform 0.5s;
}
.is-hovered {
  color: rgb(108, 233, 63);
  transform: scale(1.2, 1.2);
}
.slot:hover {
  transform: scale(1.1, 1.1);
}
#game1 {
  background-image: url("https://skzpd.com/skzpd_logo.png");
  background-size: cover;
}
#game2 {
  background-color: var(--skeleton);
}
#game3 {
  background-color: var(--skeleton);
}
#game4 {
  background-color: var(--skeleton);
}
#game5 {
  background-color: var(--skeleton);
}
#game6 {
  background-color: var(--skeleton);
}
.hide {
  display: none;
}
.show {
  display: grid;
}
#menuScreen.hide {
  display: none;
}
#menuScreen.show {
  display: grid;
}
#game1Scene,
#game2Scene,
#game3Scene,
#game4Scene,
#game5Scene,
#game6Scene {
  place-content: center;
  background-image: url("https://i.pinimg.com/736x/86/d2/32/86d2320dc91cfdf91a55a17f55c94a92.jpg");
}
button {
  cursor: pointer;
}
.top {
  border: 2px solid black;
  height: 360px; /* 360, 480 */
  width: 480px;
  background-image: url("https://i.pinimg.com/736x/86/d2/32/86d2320dc91cfdf91a55a17f55c94a92.jpg");
}
#menuScreen {
  color: white;
  display: grid;
  grid-auto-columns: 120px 120px 120px 120px;
  grid-auto-rows: auto;
  grid-template-areas:
    "box-1 box-2 box-2 box-2"
    "box-1 box-3 box-3 box-3"
    "box-1 box-3 box-3 box-3"
    "box-4 box-4 box-4 box-4";
}
.pfp {
  grid-area: box-1;
  background-image: url("https://cdn.picrew.me/shareImg/org/202602/701767_DtV7Augo.png");
  background-position: center;
  background-size: cover;
  border-right: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
  border-radius: 12px;
  margin: 8px;
}
.info {
  width: 100%;
  border: 2px solid white;
}
.name {
  grid-area: box-2;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  padding: 8px;
  margin: 8px;
}
.sum {
  grid-area: box-3;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 8px;
}
.socials {
  grid-area: box-4;
  display: grid;
  grid-auto-columns: 80px;
  grid-auto-rows: auto;
  grid-template-areas: "slot-1 slot-2 slot-3 slot-4 slot-5";
  justify-content: space-evenly;
  background-color: var(--bg-color);
}
.tech {
  width: 100%;
  text-align: center;
  color: white;
}
.item {
  width: 100%;
  margin: 0;
  height: 70%;
  background-color: black;
  opacity: 0.5;
  border-left: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
  border-right: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
}
.fa-github,
.fa-leetcode,
.fa-linkedin,
.fa-envelope,
.fa-khan-academy {
  padding-top: 20px;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
}
.github {
  grid-area: slot-1;
}
.leetcode {
  grid-area: slot-2;
}
.linkedin {
  grid-area: slot-3;
}
.email {
  grid-area: slot-4;
}
.khan {
  grid-area: slot-5;
}
.item i {
  width: 100%;
  height: 100%;
}
.tech:hover {
  transform: scale(1.25, 1.25) translateY(-8px);
}
.itemName {
  width: 100%;
  height: 30%;
  padding-top: 8px;
}
